body{
    padding: 200px;
    margin-left: 100px;
    perspective: 800px;
}
.wrap{
    position: relative;
    transform-style: preserve-3d;
}
div{
    height: 300px;
    width: 200px;
    position: absolute;
    transition-duration: 2s;
    
}
.side-a{
    background: url('Vegeta.jpeg') goldenrod no-repeat center;
    z-index: 100;
    backface-visibility: hidden;
    /* transform: rotateY(180deg); */
}

.side-b{
    background-color: blue;
    transform: rotateY(180deg);
}

.wrap:hover{
    transform: rotateY(180deg);
    transition-duration: 2s;
}

p{
    color: white;
    margin:10px;
}

a{
    text-decoration: none;
}