<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Login!</h1>
    
    <form action="/login" method="POST">
        <p>New user? Signup First!<a href="/signup">Signup!</a></p>
        <p><a href="/login/facebook">Login with FB!</a></p>
        <input type="text" placeholder="Username" name="username"> 
        <input type="password" placeholder="Password" name="password"> 
        <button type="submit">Login!</button>
    </form>
</body>
</html>