<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Sign Up!</h1>
    
    <form action="/signup" method="POST">
        <p>Already a user? Login now!<a href="/login">Login!</a></p>

        <input type="text" placeholder="Username" name="username"> 
        <input type="text" placeholder="Email" name="email"> 
        <input type="password" placeholder="Password" name="password"> 
        <button type="submit">Signup!</button>
    </form>
</body>
</html>