<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <h1>{{heading1}}</h1>
    <form action="/tasks" method="POST">
        <input type="text" name="task">
        <input type="number" name="priority">
        <button type="submit">ADD</button>
    </form>
    <ul id="tasklist">
        {{#each todo as |item|}}
            <li>{{item.task}} {{item.priority}}</li>
        {{/each}}
    </ul>
</body>
</html>