body{
    padding: 150px;
    margin-left: 100px;
}
.wrap{
    height: 200px;
    width: 600px;
    border-radius: 20px;
    border: 1px solid black;
}

.box{
    height: 200px;
    width: 600px;
    border-radius: 20px;
    background-color: blue;
    animation-name: slide;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}

@keyframes slide{
    0%{
        width: 0px;
    }
    40%,60%{
        width: 250px;
    }
    70%,90%{
        width: 450px;
    }
    100%{
        width: 600px;
    }
}